Package: com.antique.elfin
Name: Elfin
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Minimalistic System Music Player
Maintainer: Antique
Author: Antique
Section: Tweaks
