Package: com.antique.ambit
Name: Ambit
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide the keyboard after invoking Reachability
Maintainer: Antique
Author: Antique
Section: Tweaks
Version: 1.0
Installed-Size: 72
