Package: com.antique.pascal
Name: Pascal
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Beautiful Volume HUD
Maintainer: Antique
Author: Antique
Section: Tweaks
Version: 1.0
Installed-Size: 72
